{% include '/includes/cabecera.html' %}
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="div">
                    <input class="form-control mt-2" type="text" id="buscador" placeholder="Buscar usuario..">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--Tabla de usuarios-->
<table class="table mt-2" id="usuarios">
    <thead>
        <tr class="table table-light">
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Tipo de usuario</th>
            <th>Correo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <!--Mostrar usuarios internos-->
        {% for interno in internos %}
            <tr>
                <td>{{ interno.nombre }}</td>
                <td>{{ interno.usuario }}</td>
                <td>{{ interno.tipoUsuario }}</td>
                <td>{{ interno.correo }}</td>
                <td>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalVer{{interno.id}}">Ver</button>
                    <!-- Modal Ver datos de usuario -->
                    <div class="modal fade" id="modalVer{{interno.id}}" tabindex="-1" aria-labelledby="modalVerLabel{{interno.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalVerLabel{{interno.id}}">Ver Interno</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="/interno/modificar" method="post" id="internoForm{{interno.id}}">
                                    <div class="modal-body">
                                        <input type="number" name="id" value="{{interno.id}}" hidden>
                                        <div>
                                            <span>Legajo</span>
                                            <input type="number" class="form-control" name="legajo" value="{{interno.legajo}}" placeholder="Legajo">
                                        </div>
                                        <div>
                                            <span>Nombre</span>
                                            <input type="text" class="form-control" name="nombre" value="{{interno.nombre}}" placeholder="Nombre">
                                        </div>
                                        <div class="div">
                                            <span>Usuario</span>
                                            <input type="text" class="form-control" name="usuario" value="{{interno.usuario}}" placeholder="Usuario">
                                        </div>
                                        <div class="div">
                                            <span>Contraseña</span>
                                            <input type="password" class="form-control" name="contrasena" value="" placeholder="Contraseña">
                                        </div>
                                        <div class="div">
                                            <span>Correo</span>
                                            <input type="text" class="form-control" name="correo" value="{{interno.correo}}" placeholder="Correo">
                                        </div>
                                        <div class="div">
                                            <span>Cargo</span>
                                            <input type="text" class="form-control" name="cargo" value="{{interno.cargo}}" placeholder="Cargo">
                                        </div>
                                        <div class="div">
                                            <span>Departamento</span>
                                            <input type="text" class="form-control" name="departamento" value="{{interno.departamento}}" placeholder="Departamento">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-danger" data-interno-id="{{interno.id}}">Eliminar</button>
                                        <button type="submit" class="btn btn-warning">Modificar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Modal Ver datos de usuario -->
                </td>
            </tr>
        {% endfor %}
        <!--Fin mostrar usuarios internos-->

        <!--Mostrar usuarios externos-->
        {% for externo in externos %}
            <tr>
                <td>{{ externo.nombre }}</td>
                <td>{{ externo.usuario }}</td>
                <td>{{ externo.tipoUsuario }}</td>
                <td>{{ externo.correo }}</td>
                <td>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalVer{{externo.id}}">Ver</button>
                    <!-- Modal Ver -->
                    <div class="modal fade" id="modalVer{{externo.id}}" tabindex="-1" aria-labelledby="modalVerLabel{{externo.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalVerLabel{{externo.id}}">Ver Externo</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="/externo/modificar" method="post" id="externoForm{{externo.id}}">
                                    <div class="modal-body">
                                        <input type="number" name="id" value="{{externo.id}}" hidden>
                                        <div>
                                            <span>Nombre</span>
                                            <input type="text" class="form-control" name="nombre" value="{{externo.nombre}}" placeholder="Nombre">
                                        </div>
                                        <div class="div">
                                            <span>Usuario</span>
                                            <input type="text" class="form-control" name="usuario" value="{{externo.usuario}}" placeholder="Usuario">
                                        </div>
                                        <div class="div">
                                            <span>Contraseña</span>
                                            <input type="password" class="form-control" name="contrasena" value="" placeholder="Contraseña">
                                        </div>
                                        <div class="div">
                                            <span>Correo</span>
                                            <input type="text" class="form-control" name="correo" value="{{externo.correo}}" placeholder="Correo">
                                        </div>
                                        <div class="div">
                                            <span>Tipo de Usuario</span>
                                            <input type="text" class="form-control" name="tipoUsuario" value="{{externo.tipoUsuario}}" placeholder="Tipo de Usuario">
                                        </div>
                                        <div class="div">
                                            <span>Cuil</span>
                                            <input type="text" class="form-control" name="cuil" value="{{externo.cuil}}" placeholder="Cuil">
                                        </div>
                                        <div class="div">
                                            <span>Descripcion</span>
                                            <input type="text" class="form-control" name="descripcion" value="{{externo.descripcion}}" placeholder="Descripcion">
                                        </div>
                                        <div class="div">
                                            <span>Empresa</span>
                                            <input type="text" class="form-control" name="empresa" value="{{externo.empresa}}" placeholder="Empresa">
                                        </div>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="radio" name="destacado" value="true" id="destacado{{externo.id}}" {% if externo.destacado == "true" %}checked{% endif %}>
                                            <label class="form-check-label" for="destacado{{externo.id}}">Destacado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="destacado" value="false" id="noDestacado{{externo.id}}" {% if externo.destacado == "false" %}checked{% endif %}>
                                            <label class="form-check-label" for="noDestacado{{externo.id}}">No destacado</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-danger" data-externo-id="{{externo.id}}">Eliminar</button>
                                        <button type="submit" class="btn btn-warning">Modificar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <!--Fin Mostrar usuarios externos-->
    </tbody>
</table>
<!--Fin Tabla de usuarios-->
</div>
</div>
</div>
</main>

<!-- Botón eliminar interno con JavaScript -->
<script>
    document.querySelectorAll('[data-interno-id]').forEach(button => {
        button.addEventListener('click', function() {
            var internoId = this.getAttribute('data-interno-id');
            var form = document.getElementById('internoForm' + internoId);
            form.action = '/interno/eliminar';
            form.submit();
        });
    });
</script>

<!-- Botón eliminar externo con JavaScript -->
<script>
    document.querySelectorAll('[data-externo-id]').forEach(button => {
        button.addEventListener('click', function() {
            var externoId = this.getAttribute('data-externo-id');
            var form = document.getElementById('externoForm' + externoId);
            form.action = '/externo/eliminar';
            form.submit();
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--Buscar usuario-->
<script>
    $(document).ready(function(){
        $('#buscador').on('keyup', function() {
            var inputValue = $(this).val().toLowerCase();
            $('#usuarios tbody tr').each(function() {
                var rowText = $(this).text().toLowerCase();
                if (rowText.includes(inputValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
{% include '/includes/pie.html' %}